<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99113749406-2hhgg0dtqjb4mn30kth338sen8phc30e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99113749406-2hhgg0dtqjb4mn30kth338sen8phc30e</string>
	<key>API_KEY</key>
	<string>AIzaSyAexCBJqG6Y9kB4B4yjM2MiatgeuoF6D8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>99113749406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipiccie.appEcoDelegues</string>
	<key>PROJECT_ID</key>
	<string>app-eco-delegues</string>
	<key>STORAGE_BUCKET</key>
	<string>app-eco-delegues.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99113749406:ios:e8fd5d433623ca7105e48f</string>
</dict>
</plist>